<div class="card-row">
    <div class="col-xxl-12">
      <nb-card size="giant"  status="info">
        <nb-card-header>
          Profile
        </nb-card-header>
        <nb-card-body>
       <br>
       <div class="text-center">
           <p class="custom-paragraph">Hi, {{ user }} </p>
           <p class="custom-paragraph">You can manage your personal details here.</p>
       </div>
       <br>
          <div class="myflex text-center">
  
            <div class="myspan text-center">
              <a>
                <!-- <img src="../../../assets/images/icons8-charity-50.png" class="img-fluid "> -->
                <i class="fa fa-lock cutom-profile-icons"></i>
                <br>
                <br>
                <h6>Security</h6>
                <p>Manage your passwords and other security configurations</p>
                <br>
                <p class="custom-paragraph">Manage Security</p>
                <br>
              </a>
            </div>
  
  
            <div class="myspan text-center">
             
                <a (click)="CheckProfile()">
                <!-- <img src="../../../assets/images/icons8-charity-50.png" class="img-fluid "> -->
                <i class="fa fa-address-book cutom-profile-icons" ></i>
                <br>
                <br>
                <h6>Personal Information</h6>
                <p>View and edit your personal information(Email,phone number)</p>
                <br>
                <p class="custom-paragraph">Manage personal Info</p>
                <br>
              </a>
            </div>
  
            <div class="myspan text-center">
            <a>
              <!-- <img src="../../../assets/images/icons8-charity-50.png" class="img-fluid "> -->
              <i class="fa fa-users cutom-profile-icons" ></i>
              <br>
              <br>
              <h6>Contact Persons</h6>
              <p>Add,edit or view your contact persons</p>
              <br>
              <p class="custom-paragraph">Manage contact persons</p>
              <br>
            </a>
            </div>
          </div>
  
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  
  